<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quoting Dojo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Welcome to Quoting Dojo</h1>
            <form class="jumbotron" action="/quotes" method="post">
                <!-- tip to easily see objects printed in full instead of [object Object] -->
                <%- JSON.stringify(messages) %> 
                <!-- based on the structure of your messages, determine how to display them -->
                <% if(messages.post_quotes) { %>
                    <% for (var x of messages.post_quotes) { %>
                    <h3><%= x %></h3>
                    <% } %>
                <% } %>
                <div class="form-group">
                    <label>Name</label>
                    
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Quote</label>
                    <input type="text" name="quote" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Add my quote!</button>
                <a href="/quotes" class="btn btn-primary">Skip to quotes!</a>
            </form>
        </div>
    </body>
</html>