<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Playground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background-color: light blue;
            }
            h1 {
                color: maroon;
                margin-left: 40px;
            } 
        </style>
        <script src="main.js"></script>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html>