<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Checkerboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .row {
                display: block;
                margin-top: -4px;
            }
            .dark {
                background-color: black;
                height: 100px;
                width: 100px;
                display: inline-block;
                margin-left: -4px;
            }
            .light {
                background-color: lightgreen;
                height: 100px;
                width: 100px;
                display: inline-block;
                margin-left: -4px;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
        <div class="row">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
        <div class="row">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
        <div class="row">
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
        </div>
        <div class="row">
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
            <div class="light"></div>
            <div class="dark"></div>
        </div>
    </body>
</html>