<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form Survey</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Form Survey</h1>
            <form action="/submitForm" class="jumbotron" method="post">
                <div class="form-group">
                    <label>Your Name</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Dojo Location</label>
                    <select name="dojo" class="form-control">
                        <option>San Jose, CA</option>
                        <option>Los Angeles, CA</option>
                        <option>Seattle, WA</option>
                    </select>
                </div>
                <div class="form-group">
                        <label>Favorite Language</label>
                        <select name="language" class="form-control">
                            <option>Python</option>
                            <option>JavaScript</option>
                            <option>C#</option>
                        </select>
                    </div>
                <div class="form-group">
                    <label>Comment</label>
                    <textarea class="form-control" name="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>