<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>C+R Friends</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script src="main.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>These are my friends!</h1>
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in friends %}
                        <tr>
                            <td>{{friend['first_name']}}</td>
                            <td>{{friend['last_name']}}</td>
                            <td>{{friend['occupation']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h1>Add a friend</h1>
                <form action='/create_friend' method='post'>
                    <div class="form-group row">
                        <label class="col-4">First name</label>
                        <input type="text" class="form-control col-4" name="first_name" placeholder="Enter first name">
                    </div>
                    <div class="form-group row">
                        <label class="col-4">Last name</label>
                        <input type="text" class="form-control col-4" name="last_name" placeholder="Enter last name">
                    </div>
                    <div class="form-group row">
                        <label class="col-4">Occupation</label>
                        <input type="text" class="form-control col-4" name="occupation" placeholder="Enter occupation">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>